// font imports
@import url('https://fonts.googleapis.com/css?family=Bungee|Raleway');

// global variables
$heading-font: 'Bungee', sans-serif;
$body-font: 'Raleway', sans-serif;


// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul {
    list-style: none;
}

nav {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

// global styles

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

p, a {
    font-family: $body-font;
    font-size: 16px;
}

// mobile styles (Defaults - Mobile First development)

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    z-index: 2;
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            margin: 0 5px;
            a {
                color: black;
            }
        }
        @media screen and (min-width: 700px) {
            li {
                margin: 0 15px;
            }
        }
    }
}

header.fixed {
    background-color: transparent;
    padding-bottom: 55px;
    transition: background-color 0.5s ease-in;
}

@media screen and (min-width: 1100px) {
    header.fixed {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 1100px) {
    header {
        justify-content: flex-end;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 15px 20px;
}

.intro {
    // background: url('../img/intro_bg.jpg') no-repeat -420px center;
    // background-size: cover;
    height: 100vh;
    min-height: 650px;
    width: 100%;
    padding: 60px 15px 0 15px;
    position: relative;
    top: 0;
    .background {
        object-fit: cover;
        width: 100%;
        height: 105%;
        position: absolute;
        top: -25px;
        z-index: -1;
    }
    .portrait {
        height: 250px;
        width: 250px;
        margin: 35px 0 20px 0;
    }
    p {
        text-align: center;
        span {
            font-weight: bolder;
            font-size: 20px;
        }
    }
    h1 {
        position: fixed;
        z-index: 2;
    }
    @media screen and (min-width: 1100px) {
        h1 {
            top: 15px;
        }
        .portrait {
            margin-top: 20px;        }
    }
}

// SKILLS SECTION STYLES -----------

.skills {
    height: 100vh;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #F06529;
    // h2 {
    //     margin-bottom: 15px;
    // }
    div {
        height: calc(100vh / 4);
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        span {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
            i {
                font-size: 7em;
                color: #fff;
            }
        }
        // HTML - light orange #f06529 dark orange #e34f26
        // CSS - light blue #33A9DC dark blue #1572B6
        // JS - light yellow #f7df1e dark yellow #CBB505
        // Mongo - green #589636 dark green #387418
    }
    div:hover span, div:focus span {
        transform: translateY(-100%);
    }
    .html5 {
        background-color: #f06529;
      }
    .html5:before {
        content: 'HTML5 is the latest standard of the HTML language. Having knowledge in HTML5 assists me in creating fluid, semantic markup to provide the perfect foundation for your web presence.';
        color: white;
        background-color: #e34f26;
        font-family: $body-font;
        font-size: 16px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        transition: all 0.5s;
        padding-left: 15px;
      }
      .html5:hover:before, .html5:focus:before {
        top: 0;
      }
      .css3 {
        background-color: #33A9DC;
      }
      .css3:before {
        content: 'CSS3 allows me to take your standard document layout and bring it to life on the web utilizing CSS animations and interactive states just like the ones you see working on this very page. Turning HTML markup into a work of art.';
        color: white;
        background-color: #1572B6;
        font-family: $body-font;
        font-size: 16px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        transition: all 0.5s;
        padding-left: 15px;
      }
      .css3:hover:before, .css3:focus:before {
        top: 0;
      }
      .javascript {
        background-color: #f7df1e;
      }
      .javascript:before {
        content: 'Where there\'s form there needs to be function. Utilizing Javascript I can add any client-facing functionality you may need. Whether that be interactive displays or even back-end functions like form submissions. Utilizing frameworks such as jQuery for the front-end or Node and Express for the back-end I can bring your ideas to fruition.';
        color: white;
        background-color: #CBB505;
        font-family: $body-font;
        font-size: 16px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        transition: all 0.5s;
        padding-left: 15px;
      }
      .javascript:hover:before, .javascript:focus:before {
        top: 0;
      }
      .mongodb {
        background-color: #589636;
      }
      .mongodb:before {
        content: 'Having experience with a database such as MongoDB allows me to easily store and maintain data from user information to content. Combining this with NodeJS and Express ties the whole site together.';
        color: white;
        background-color: #387418;
        font-family: $body-font;
        font-size: 16px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        transition: all 0.5s;
        padding-left: 15px;
      }
      .mongodb:hover:before, .mongodb:focus:before {
        top: 0;
      }
}

@media screen and (min-width: 700px) {
    .skills {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        div {
            height: calc(100vh / 2);
            width: 100%;
            flex-basis: 50%;
        }
    }
}

// PROJECTS SECTION STYLES -------------

.projects {
    padding: 0;
    .project {
        height: calc(100vh / 3);
        max-width: 100%;
        width: 100%;
        position: relative;
        img {
            width: 100%;
            vertical-align: top;
            object-fit: cover;
            height: calc(100vh / 3);
        }
        span {
            position: absolute;
            top: 0;
            width: 100%;
            font-size: 16px;
            color: #fff;
            text-align: center;
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3 {
                text-align: center;
                margin-top: 15px;
            }
            p {
                text-align: justify;
                margin-top: 15px;
                padding: 0 15px;
            }
        }
    }
    @media screen and (min-width: 700px) {
        .project {
            height: calc(100vh / 2);
            img {
                height: calc(100vh / 2);
            }
        }
    }
    .project:nth-child(1) {
        background-color: #00F9CF;
    }
    .project:nth-child(2) {
        background-color: #FF1E00;
    }
    .project:nth-child(3) {
        background-color: #52FD00;
    }
    .project:hover img, .project:focus img {
        opacity: 0.6;
        filter: grayscale(100%) brightness(50%) blur(1px);
    }
    .project * {
        transition: all 0.5s ease-in-out;
    }
    .project:hover span, .project:focus span {
        opacity: 1;
        transition: all 300ms 100ms ease-in;
    }
}

#projects:target {
    margin-top: -95px;
    padding-top: 95px;
}

@media screen and (min-width: 1100px) {
    #projects:target {
        margin-top: -60px;
        padding-top: 60px;
    }
}

// CONTACT STYLES HERE -------

.contact {
    width: 100%;
    height: calc(100vh / 2);
    min-height: 460px;
    padding: 15px 20px;
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            height: 30px;
            padding: 5px;
            outline: none;
        }
        textarea {
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            padding: 5px;
            height: 250px;
            resize: none;
            outline: none;
        }
        button {
            height: 50px;
            width: 50%;
            border-radius: 5px;
            margin: 15px auto 0 auto;
            border: none;
            background-color: dodgerblue;
            font-family: 'Raleway', sans-serif;
            font-size: 1em;
            color: white;
            outline: none;
        }
    }
    @media screen and (min-width: 700px) {
        form {
            width: 50%;
            max-width: 840px;
        }
    }
}

// FOOTER STYLES -------

footer {
    background-color: #34495e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    h3 {
        margin-top: 15px;
        text-align: center;
        flex-basis: 100%;
    }
    ul {
        margin: 15px;
        display: flex;
        justify-content: space-evenly;
        flex-basis: 100%;
        li {
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
    @media screen and (min-width: 700px) {
        padding: 0 25%;
    }
    p {
        text-align: center;
        margin: 20px;
    }
}