@import url("https://fonts.googleapis.com/css?family=Bungee|Raleway");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

nav {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bungee", sans-serif; }

p, a {
  font-family: "Raleway", sans-serif;
  font-size: 16px; }

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  z-index: 2; }
  header nav {
    display: flex;
    justify-content: center;
    align-items: center; }
    header nav li {
      margin: 0 5px; }
      header nav li a {
        color: black;
        opacity: .7;
        transition: opacity 0.5s ease-in-out; }
      header nav li a:hover {
        opacity: 1; }
    @media screen and (min-width: 700px) {
      header nav li {
        margin: 0 15px; } }

header.fixed {
  background-color: transparent;
  padding-bottom: 55px;
  transition: background-color 0.5s ease-in; }

@media screen and (min-width: 1100px) {
  header.fixed {
    padding-bottom: 20px; } }
@media screen and (min-width: 1100px) {
  header {
    justify-content: flex-end; } }
section {
  display: flex;
  flex-direction: column;
  align-items: center; }

.intro {
  height: 100vh;
  min-height: 650px;
  width: 100%;
  padding: 60px 15px 0 15px;
  position: relative;
  top: 0; }
  .intro .background {
    object-fit: cover;
    width: 100%;
    height: 105%;
    position: absolute;
    top: -25px;
    z-index: -1; }
  .intro .portrait {
    height: 250px;
    width: 250px;
    margin: 35px 0 20px 0;
    object-fit: cover;
    object-position: 0px 0%;
    border-radius: 100%;
    border: 5px solid white; }
  .intro p {
    text-align: center; }
    .intro p span {
      font-weight: bolder;
      font-size: 20px; }
  .intro h1 {
    position: fixed;
    z-index: 2; }
  @media screen and (min-width: 1100px) {
    .intro h1 {
      top: 15px; }
    .intro .portrait {
      margin-top: 20px; } }

.skills {
  height: 100vh;
  width: 100%;
  padding-bottom: 0;
  padding-top: 0;
  background-color: #F06529; }
  .skills div {
    height: calc(100vh / 4);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .skills div span {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s; }
      .skills div span i {
        font-size: 7em;
        color: #fff; }
  .skills div:hover span, .skills div:focus span {
    transform: translateY(-100%); }
  .skills .html5 {
    background-color: #f06529; }
  .skills .html5:before {
    content: 'HTML5 is the latest standard of the HTML language. Having knowledge in HTML5 assists me in creating fluid, semantic markup to provide the perfect foundation for your web presence.';
    color: white;
    background-color: #e34f26;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    transition: all 0.5s;
    padding-left: 15px; }
  @media screen and (min-width: 700px) {
    .skills .html5:before {
      font-size: 16px; } }
  .skills .html5:hover:before, .skills .html5:focus:before {
    top: 0; }
  .skills .css3 {
    background-color: #33A9DC; }
  .skills .css3:before {
    content: 'CSS3 allows me to take your standard document layout and bring it to life on the web utilizing CSS animations and interactive states just like the ones you see working on this very page. Turning HTML markup into a work of art.';
    color: white;
    background-color: #1572B6;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    transition: all 0.5s;
    padding-left: 15px; }
  @media screen and (min-width: 700px) {
    .skills .css3:before {
      font-size: 16px; } }
  .skills .css3:hover:before, .skills .css3:focus:before {
    top: 0; }
  .skills .javascript {
    background-color: #f7df1e; }
  .skills .javascript:before {
    content: 'Where there\'s form there needs to be function. Utilizing Javascript I can add any client-facing functionality you may need. Whether that be interactive displays or even back-end functions like form submissions. Utilizing frameworks such as jQuery for the front-end or Node and Express for the back-end I can bring your ideas to fruition.';
    color: white;
    background-color: #CBB505;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    transition: all 0.5s;
    padding-left: 15px; }
  @media screen and (min-width: 700px) {
    .skills .javascript:before {
      font-size: 16px; } }
  .skills .javascript:hover:before, .skills .javascript:focus:before {
    top: 0; }
  .skills .mongodb {
    background-color: #589636; }
  .skills .mongodb:before {
    content: 'Having experience with a database such as MongoDB allows me to easily store and maintain data from user information to content. Combining this with NodeJS and Express ties the whole site together.';
    color: white;
    background-color: #387418;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    transition: all 0.5s;
    padding-left: 15px; }
  @media screen and (min-width: 700px) {
    .skills .mongodb:before {
      font-size: 16px; } }
  .skills .mongodb:hover:before, .skills .mongodb:focus:before {
    top: 0; }

@media screen and (min-width: 700px) {
  .skills {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0; }
    .skills div {
      height: calc(100vh / 2);
      width: 100%;
      flex-basis: 50%; } }
.projects {
  padding: 0; }
  .projects .project {
    height: calc(100vh / 2);
    max-width: 100%;
    width: 100%;
    position: relative; }
    .projects .project img {
      width: 100%;
      vertical-align: top;
      object-fit: cover;
      height: calc(100vh / 2); }
    .projects .project span {
      position: absolute;
      top: 0;
      width: 100%;
      font-size: 16px;
      color: #fff;
      text-align: center;
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .projects .project span h3 {
        text-align: center;
        margin-top: 15px; }
      .projects .project span p {
        text-align: justify;
        margin-top: 15px;
        padding: 0 15px; }
        .projects .project span p a {
          color: white;
          text-decoration: underline; }
        .projects .project span p a:hover {
          color: lightgrey; }
      .projects .project span .projectBtn {
        background-color: dodgerblue;
        color: white;
        padding: 10px;
        margin-top: 7px;
        border-radius: 5px; }
      .projects .project span .projectBtn:hover {
        background-color: royalblue; }
  .projects .project:nth-child(1) {
    background-color: #00F9CF; }
  .projects .project:nth-child(2) {
    background-color: #FF1E00; }
  .projects .project:nth-child(3) {
    background-color: #52FD00; }
  .projects .project:hover img, .projects .project:focus img {
    opacity: 0.6;
    filter: grayscale(100%) brightness(50%) blur(1px); }
  .projects .project * {
    transition: all 0.5s ease-in-out; }
  .projects .project:hover span, .projects .project:focus span {
    opacity: 1;
    transition: all 300ms 100ms ease-in; }

#projects:target {
  margin-top: -95px;
  padding-top: 95px; }

@media screen and (min-width: 1100px) {
  #projects:target {
    margin-top: -60px;
    padding-top: 60px; } }
.contact {
  width: 100%;
  height: calc(100vh / 2);
  min-height: 460px;
  padding: 15px 20px; }
  .contact .response {
    width: 100%;
    text-align: center; }
    .contact .response .success {
      color: green;
      font-weight: bold;
      border: 2px solid green;
      border-radius: 5px;
      padding: 5px;
      display: none; }
    .contact .response .error, .contact .response .fieldErr {
      color: red;
      font-weight: bold;
      border: 2px solid red;
      border-radius: 5px;
      padding: 5px;
      display: none; }
  .contact form {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .contact form input {
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid gray;
      height: 30px;
      padding: 5px;
      outline: none; }
    .contact form textarea {
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid gray;
      padding: 5px;
      height: 250px;
      resize: none;
      outline: none; }
    .contact form button {
      height: 50px;
      width: 50%;
      border-radius: 5px;
      margin: 15px auto 0 auto;
      border: none;
      background-color: dodgerblue;
      font-family: 'Raleway', sans-serif;
      font-size: 1em;
      color: white;
      outline: none;
      cursor: pointer; }
    .contact form button:hover {
      background-color: royalblue;
      transition: background-color 0.5s ease-in-out; }
  @media screen and (min-width: 700px) {
    .contact form, .contact .response {
      width: 50%;
      max-width: 840px; } }

footer {
  background-color: #34495e;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff; }
  footer h3 {
    margin-top: 15px;
    text-align: center;
    flex-basis: 100%; }
  footer ul {
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 100%; }
    footer ul li a {
      text-decoration: none;
      color: #fff; }
  @media screen and (min-width: 700px) {
    footer {
      padding: 0 25%; } }
  footer p {
    text-align: center;
    margin: 20px; }

/*# sourceMappingURL=main.css.map */
