// font imports
@import url('https://fonts.googleapis.com/css?family=Bungee|Raleway');

// global variables
$heading-font: 'Bungee', sans-serif;
$body-font: 'Raleway', sans-serif;


// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul {
    list-style: none;
}

nav {
    list-style: none;
}

a {
    text-decoration: none;
}

// global styles

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

p, a {
    font-family: $body-font;
    font-size: 16px;
}

// mobile styles (Defaults - Mobile First development)

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    nav {
        display: flex;
        li {
            margin: 0 15px;
            a {
                color: black;
            }
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
}

.intro {
    background: url('../img/intro_bg.jpg') no-repeat -420px center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    img {
        height: 250px;
        width: 250px;
        margin: 20px 0;
    }
    p {
        text-align: center;
        span {
            font-weight: bolder;
            font-size: 18px;
        }
    }
}

// SKILLS SECTION STYLES -----------

.skills {
    height: 100vh;
    width: 100vw;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #F06529;
    // h2 {
    //     margin-bottom: 15px;
    // }
    div {
        height: calc(100vh / 4);
        width: 100vw;
        // anything below this line is newly added
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        span {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
        }
        // HTML - light orange #f06529 dark orange #e34f26
        // CSS - light blue #33A9DC dark blue #1572B6
        // JS - light yellow #f7df1e dark yellow #CBB505
        // Mongo - green #589636 dark green #387418
    }
    div:hover span {
        transform: translateY(-100%);
    }
    .html5 {
        background-color: #f06529;
      }
    .html5:before {
        content: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus dolore voluptate deserunt cumque? Perferendis minus beatae quisquam id at doloremque tempore cupiditate quia debitis libero ad vitae quae, eos laboriosam.';
        color: white;
        background-color: #e34f26;
        font-family: $body-font;
        font-size: 16px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        transition: all 0.5s;
        padding-left: 15px;
      }
      .html5:hover:before {
        top: 0;
      }
      .css3 {
        background-color: #33A9DC;
      }
      .css3:before {
        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rem ratione cumque, totam exercitationem consectetur ea! Quaerat laudantium cumque at veritatis odit a vel dolor vitae ea, vero quisquam soluta!';
        color: white;
        background-color: #1572B6;
        font-family: $body-font;
        font-size: 16px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        transition: all 0.5s;
        padding-left: 15px;
      }
      .css3:hover:before {
        top: 0;
      }
      .javascript {
        background-color: #f7df1e;
      }
      .javascript:before {
        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rem ratione cumque, totam exercitationem consectetur ea! Quaerat laudantium cumque at veritatis odit a vel dolor vitae ea, vero quisquam soluta!';
        color: white;
        background-color: #CBB505;
        font-family: $body-font;
        font-size: 16px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        transition: all 0.5s;
        padding-left: 15px;
      }
      .javascript:hover:before {
        top: 0;
      }
      .mongodb {
        background-color: #589636;
      }
      .mongodb:before {
        content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rem ratione cumque, totam exercitationem consectetur ea! Quaerat laudantium cumque at veritatis odit a vel dolor vitae ea, vero quisquam soluta!';
        color: white;
        background-color: #387418;
        font-family: $body-font;
        font-size: 16px;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 100%;
        transition: all 0.5s;
        padding-left: 15px;
      }
      .mongodb:hover:before {
        top: 0;
      }
}

// PROJECTS SECTION STYLES -------------

.projects {
    padding: 0;
    .project {
        height: calc(100vh / 3);
        max-width: 100vw;
        width: 100%;
        position: relative;
        img {
            width: 100%;
            vertical-align: top;
            object-fit: cover;
            height: calc(100vh / 3);
        }
        span {
            position: absolute;
            top: 0;
            font-size: 16px;
            color: #fff;
            text-align: center;
            opacity: 0;
            h3 {
                text-align: center;
                margin-top: 15px;
            }
            p {
                text-align: justify;
                margin-top: 15px;
                padding: 0 15px;
            }
        }
    }
    .project:nth-child(1) {
        background-color: #00F9CF;
    }
    .project:nth-child(2) {
        background-color: #FF1E00;
    }
    .project:nth-child(3) {
        background-color: #52FD00;
    }
    .project:hover img {
        opacity: 0.6;
        filter: grayscale(100%) brightness(50%) blur(1px);
    }
    .project * {
        transition: all 0.5s ease-in-out;
    }
    .project:hover span {
        opacity: 1;
        transition: all 300ms 100ms ease-in;
    }
}

// CONTACT STYLES HERE -------

.contact {
    width: 100%;
    height: calc(100vh / 2);
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            height: 30px;
            padding: 5px;
            outline: none;
        }
        textarea {
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            padding: 5px;
            max-width: 360px;
            height: 250px;
            resize: none;
            outline: none;
        }
        button {
            height: 50px;
            width: 50%;
            margin: 15px auto 0 auto;
            border: none;
            background-color: dodgerblue;
            font-family: 'Raleway', sans-serif;
            font-size: 1em;
            color: white;
            outline: none;
        }
    }
}

// FOOTER STYLES -------

